<div class="login-box">
  <div class="login-logo">
    <b>Cadastro</b>
  </div>

  <div class="login-logo">
    <alert-messege></alert-messege>
  </div>

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">registro de novos usuários</p>

      <form method="post" [formGroup]="formulario">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Full name" [(ngModel)]="user.name"
            formControlName="name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="user name" [(ngModel)]="user.username"
            formControlName="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" formControlName="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password"
            formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <!-- <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Retype password">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div> -->

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!formulario.valid"
              (click)="salvar()">Register</button>
          </div>
        </div>
      </form>

      <p class="mb-1">
      </p>
      <p class="mb-0">
        <br>
        <a [routerLink]="['/login']" class="text-center">volta para login</a>
      </p>
    </div>
  </div>
</div>